<div id="main-content">
  <h1 class="main-point">Sell your watch easy</h1>
  <br>
  <h2 class="sub-point">CHOOSE A TIME, A PLACE AND A PRICE. <br> WE WILL MEET YOU THERE.</h2>
  <br>
  <a><%= link_to "Let's begin", new_client_path, class: 'btn btn-success btn-begin' %></a>
</div>
