<% if !params[:date] %>
  <h3>Select a Day</h3>
  <br>
  <% @available_days.each do |i| %>
    <%= link_to "#{i.strftime('%a, %b %d')}", new_event_path(date: i), method: :get, class: 'btn btn-primary' %>
    <br />
    <br />
  <% end %>
<% end %>

<% if params[:date] %>
  <h3><%= params[:date].to_time.strftime('%A') %></h3>
  <h4><%= params[:date].to_time.strftime('%B %d, %Y') %></h4>
  <h3>Select a Time</h3>
  <br>
  <% @available_times.each do |i| %>
    <%= link_to "#{i.to_time.strftime("%I:%M %p")}", events_path(time: i.to_time), method: :post, class: 'btn btn-primary' %>
    <br />
    <br />
  <% end %>
<% end %>
