// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main-content {
  margin: auto;
  left: 0;
  top: 275px;
  width: 100%;
  position: absolute;
  text-align: center;
}

.main-point {
  color: white;
  font-size: 65px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.sub-point {
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.btn-success.btn-begin {
  width: 250px;
  text-transform: uppercase;
}

.hero-btn:hover {
  background: #5cb85c;
  border-color: #5cb85c;
}

.a:hover {
  color: white;
  text-transform: uppercase;

}
